[submodule "deps/vk-bootstrap"]
	path = deps/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "deps/VulkanMemoryAllocator"]
	path = deps/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
