[submodule "deps/vk-bootstrap"]
	path = deps/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "deps/VulkanMemoryAllocator"]
	path = deps/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "deps/tinyobjloader"]
	path = deps/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
